<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="portalurl" value="http://westpac.co.nz"/>
    <add key="browser" value="Firefox"/>
    <add key="testdataxml" value="C:\Users\PersonalPC\Documents\Visual Studio 2015\Projects\WZNLAssignments\WZNLAssignments\TestData.xml"/>
  </appSettings>
</configuration>
